/* 
    Document   : elements
    Created on : Aug 8, 2012, 12:37:57 PM
    Author     : zhanat
    Description:
        Purpose of the stylesheet follows.
*/

caption { 
    border: 1px solid #5C443A;
    color: #ed1e24;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 6px 4px 8px 0px;
    text-align: center;
    text-transform: uppercase;              
}

panel {
    background: url('/static/styles/images/button2-shadow.png') center bottom no-repeat;
    width: auto;        
}
.panel h2 {
    font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    line-height: 2em; 
    text-transform: uppercase;
    border-radius: 20px;
    background: url('/static/styles/images/button2-tail.gif') 0 0 repeat-x #010101;
    padding: 4px 10px 4px 20px;
    margin: 2px 35px 0 0;
}

.panel h2#red {
    background: url('/static/styles/images/bg_main_menu.png') 0 0 repeat-x #010101;
}
h2 a#enter {
    font-size: 0.8em;
    float: right;
    text-decoration: none;
}  
h2 a {
    color: #FFFFFF; 
    font-weight: bold;
}

.box {
    border-color: #ed1e24; 
    padding: 1em; 
    margin: 0 0 1em 0; 
    /*background: #F7F7F7;*/
    background: transparent;
}  

.round{
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.list ul {
    text-decoration: none;
}
.list li {
    height: 22px;
    background-image: url('/static/styles/images/bullet_red.png');
    background-position: left top;
    background-repeat: no-repeat;        
    padding-left: 15px;
    display: block;
}
.list a{
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d4d4d;        
}

ul {
    padding-left: 20px;    
    padding-top: 10px;
}

li {
    min-height: 25px;
}

#flc-error-container table tr td a:hover {
    color: #010101;
    font-weight: bold;
}

ul.pageTab
{
    font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    height: 30px;
    line-height: 25px;
    padding-top: 2px;
    list-style: none;  
    margin: 10px 0 0 2px;
}

ul.pageList
{
    font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

#sub a
{
    font: bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
    /*text-transform: none;*/
}

ul.pageTab li
{
    float: left;
    margin-right: 1px;
    cursor: pointer;
}

ul.pageTab li a
{
    display: block;
    padding: 0 13px 1px;
    margin-bottom: -1px;
    text-decoration: none;    
    position: relative;
    color:gray;
    float: left;
    border: 1px solid gray;
}

ul.pageList li a
{
    display: block;
    padding: 0 13px 1px;
    /*text-decoration: none;*/    
    position: inherit;
    color:gray;
    /*float: left;*/
    border: 1px solid gray;
}

ul.pageTab li a:hover, ul.pageList li a:hover
{
    color: black;
    padding: 0 13px;
    /*background: #FFFFFF;*/
    text-shadow: inherit;
    border: 1px solid black;
}

ul.pageTab li.tab-current a
{
    color: black;
    /*background: #FFFFFF;*/
    padding: 0px 13px 2px;
    border: 1px solid black;
    border-bottom: 1px solid #FFFFFF;
}

ul li.tab-current a
{
    color: black;
    /*background: #FFFFFF;*/
    padding: 0px 13px 2px;
    border: 1px solid black;
    border-bottom: 1px solid #FFFFFF;
}

ul.sub-menu li {
    list-style-type:none;
    padding-left:5px;
    float:left;
}
ul.sub-menu li a:hover
{
    font-size: larger;
}
ul.sub-menu a {
    height:30px;
    display:block;
    background-position:right;
    padding-right: 10px;
    text-decoration: none;
    color:#4d4d4d;
}

div#page2,
div#page3,
div#subpage1,
div#subpage2,
div#subpage3,
div#subpage4,
div#subpage5,
div#subpage6,
div#subpage7,
div#subpage8,
div#subpage9
{
    display: none;
}

div.subpages {
    margin: 0 20px 20px;
}

.content-left {
    height: 900px;
    min-width:40%;
    background: white;
    padding: 15px;
    border-right: solid 1px rgb(214,214,214);
    display: table-cell;
    vertical-align: top;
}
.content-right {
    background: rgb(247,247,247);
    padding: 15px;
    display: table-cell;
    vertical-align: central;
    width: 100%;
}
a#exit {
    color: #ed1e24;
}

.sort, #field{
    margin: 0 2px 0 2px;
    width: auto;
    font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    height: 25px;
    padding: 0;
}

a {
    font-size: 12px;
}

td a:hover { 
    text-decoration:underline;
    color:#666666; 
    /*font-size: larger;*/
}

.filter {
    margin: 0 5px;
    height: 22px;
}

