/* 
    Document   : pattern
    Created on : Aug 8, 2012, 10:57:29 AM
    Author     : zhanat
    Description:
        Purpose of the stylesheet follows.
*/

/*root { 
    display: block;
}*/

* { 
    padding: 0; 
    margin: 0;    
    cursor: pointer;
}

a{
    cursor: pointer;
}

.float-left {
    float: left;    
}

.float-right {
    float: right;
    position: relative;
    margin-left: 10px;    
}

#wspace{
    margin: 0 auto; 
    width: 1000px;
    background-color: white;    
}

#content{
    margin: 0 auto;
    padding: 10px;
    width: 99%;
    /*font: normal 12px Arial, Helvetica, sans-serif;;*/
} 

#footer {
    margin: 0 auto;
    float: bottom; 
    clear: both; 
    border-top: 1px dotted #777777; 
    color: #777777; 
    font-size: 0.8em; 
    background: #FFFFFF;
}

.home {
    border:none;
    margin: 8px 0px;
}

.menu  {
    font: 11px Sans-serif, Arial, Helvetica;
    min-height:30px;
    line-height:30px;
    width: 98%;
    overflow:hidden;
    margin:10px;
    padding:0px;
    border-bottom: 1px dotted #777777; 
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #0184a0;
}
#menu li {
     float: left;
/*    list-style-type:none;
    padding-left:5px;
    float:left;*/
}
#menu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color:  #01748c;
}

#menu li a.active {
    color: white;
    background-color: #01748c;
}

#menu a {
     color: #666;
/*    height:30px;
    display:block;
            background-image:url('/static/styles/images/bc_separator.png'); 
            background-repeat:no-repeat; 
    background-position:right;
    padding-right: 10px;
    text-decoration: none;
    color:#4d4d4d;*/
}

#lang {  
    font: 10px Arial, Helvetica, sans-serif;
    height:30px;
    margin:15px;
    padding:0px;
    overflow:hidden;
}
#lang li {
    float:left;
    list-style-type:none;
    padding-left:10px;
}
#lang a {
    display:block;
    background-image:url('/static/styles/images/bc_bg.png'); 
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 10px;
    text-decoration: none;
    color:#4d4d4d;
}    

.header{
    width:1000px;
    height: 120px;
} 
.header h1 {
    padding:50px 0 0 10px;
}

h1 a {
    background: url('/static/styles/images/logo1.png') no-repeat scroll 0 0 transparent;
    display: block;
    height: 60px;
    width: 500px;
}    

.ahover {
    font-size: larger;
}

