/* 
    Document   : tables
    Created on : Aug 8, 2012, 11:24:02 AM
    Author     : zhanat
    Description:
        Purpose of the stylesheet follows.
*/
/*.odd { 
    background:#cbc8c8;
}

table { 
    font: normal 12px Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid gray;
    border-collapse: collapse;
}

table#list {
    min-width: 99%;
}
table#list tr { 
    border:1px dotted gray;
    border-bottom: 1px solid #4D4D4D;
}
table#list tr:hover { 
    background-color: #686868;
    color:#FFFFFF;                    
}
table#list td a { 
    color:#4D4D4D;
    text-decoration:none;
}
table#list tr:hover a { 
    color:#FFFFFF;                    
}

table#info { 
    font: bold 12px Arial, Helvetica, sans-serif;
    text-transform:uppercase;  
    background-color: transparent;
    border: none;
    font-weight:bold;
}
table#info a {
    color: black;
}

*/
table#info td{ 
    padding-left: 10px;
}

table#create  {
    font: normal 12px Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    color: #4D4D4D;
    margin: 10px 0 0 10px;
}
table#create tr>td {
    font-weight: bold;  
}
table#create td{ 
    padding-left: 10px;
}
.requredlogic {
    border :1px solid red;
}

.required {
    font-weight: bold;          
}
.text {
    width: 300px;
}     


/*

table#data  {
    background-color: transparent;
    border: none;
}
table#data tr>td {
    font-weight: bold;    
    color: #354b74;
    font-weight: bold;
}
table#data td, table#data tr {
    padding:5px 10px; 
    border-bottom: 1px solid #4D4D4D;
}

#red>table { 
     border: none; 
     background-color: transparent; 
     max-height: 12px;
} 

tr {
    border: none;
}

thead th{ 
    background:#4D4D4D;
    color:#FFFFFF;
    padding:3px 10px 3px 10px;
    text-align:left;
    text-transform:uppercase;
    vertical-align: top;
}

td { 
    padding: .4em;
    text-align: left;
    
}
td a:hover { 
    text-decoration:underline;
    color:#FFFFFF;  
}*/