/* 
    Document   : styles
    Created on : Jun 27, 2012, 4:55:23 PM
    Author     : sultan
    Description:
        Purpose of the stylesheet follows.
*/

body{/*background-color: #0078ae*/ margin: 0;}

#wspace{
    margin: 0 auto; 
    width: 100%;
    background-color: white;    
}

#header{height: 120px;border-top: #999999 solid 1px;border-left: #999999 solid 1px;border-right: #999999 solid 1px;border-bottom:  #999999 solid 1px;margin-bottom: 5px;margin-top: 5px} 

#content{height: 805px;padding: 0;/*border-right:  #ccc solid medium;border-left: #ccc solid medium;*/} 

.jbuttonp{margin: 1px;height: 30px}

#tabs, #tabs-1,#tabs-2{margin: 0;padding: 0;height: 99.8%}

/*#footer{height: 40px;background-image: url(img/foot.png); background-color: steelblue;text-align: center;color: white}*/


